{% extends "Hermione_Test/slider.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}


Please answer the following question again<b> ALONE </b> by using the slider below. Click next when you are done.<div>&nbsp;</div>
<div><strong>How certain are you of your answer to the prior question?</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div style="float: left">Not at all certain</div>
    <div style="float: right">Completely certain</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="certainty3">
</div>



<div>&nbsp;</div>
</body>
</html>


{% next_button %}


<div>&nbsp;</div>

{% endblock %}
