{% extends "Trials/slider.html" %}
{% load otree %}

{% block title %} {% endblock %}
{{question}}

{% block content %}


Please answer the following question <b> ALONE </b> by using the slider below. Click next when you are done. <div>&nbsp;</div>
<div><strong>{{ question }}</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div style="float: left">  {{anch1}}  </div>
    <div style="float: right"> {{anch2}} </div>
  <input type="range" min="1" max="100" value="50" class="slider" name="judgement1">
</div>

<div>&nbsp;</div>
</body>
<input type="hidden" name="Question_displayed" id = "id2"  />


<script>
    let x = {{question|json}}
    document.getElementById("id2").value = x
</script>

{{ form.Question_displayed.errors }}
</html>
<div>&nbsp;</div>
{% next_button %}

<div>&nbsp;</div>

{% endblock %}
