{% extends "Demographic/slider.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}



Overall, on the following scale of political orientation, where would you place yourself politically?


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


    <div style="float: left">Very liberal</div>
    <div style="float: right">Very conservative</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="PoliticalParty">

</body>
</html>
<div>&nbsp;</div>

{% next_button %}


<html>

{% endblock %}
