{% extends "Welcome/slider.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}

Please answer the following question by using the slider below. Click next when you are done. <div>&nbsp;</div>
<div><strong>I believe that people should be free to do as they choose, so long as they do not cause harm to other people.</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div style="float: left">Does not describe me</div>
    <div style="float: right">Describes me very well</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="pre_global_3">
</div>



<div>&nbsp;</div>
</body>
</html>


{% next_button %}


<div>&nbsp;</div>

{% endblock %}
