{% extends "Welcome/slider.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}

Please answer the following question by using the slider below. Click next when you are done. <div>&nbsp;</div>
<div><strong>I believe that if everyone started doing as they pleased, even if no specific laws were broken, society would tumble into chaos.</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div style="float: left">Does not describe me</div>
    <div style="float: right">Describes me very well</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="pre_global_1">


<div>&nbsp;</div>
</body>
</html>


{% next_button %}


<div>&nbsp;</div>

{% endblock %}
