{% extends "Context/slider.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}


<div><strong>I believe people should take care of those who are closest to them first, such as family and friends, before they care for those who
are far away.</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div style="float: left">Does not describe me</div>
    <div style="float: right">Describes me very well</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="post_global_2">


<div>&nbsp;</div>
</body>
</html>


{% next_button %}


<div>&nbsp;</div>

{% endblock %}
