{% extends "Context/slider.html" %}
{% load otree %}

{% block title %}{% endblock %}

{% block content %}

Please answer the following question by using the slider below. Click next when you are done. <div>&nbsp;</div>
<div><strong>The goverment should do whatever it takes to save the greatest number of lives possible from the coronavirus.</strong>


<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div style="float: left">Strongly disagree</div>
    <div style="float: right">Strongly agree</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="post_goverment">
</div>



<div>&nbsp;</div>
</body>
</html>


{% next_button %}


<div>&nbsp;</div>

{% endblock %}
