  
{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% endblock %}

{% block content %}

Please answer the following question <b> ALONE </b> by using the slider below. Click next when you are done.<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>How justifiable was Hermione's condescending tone towards Ron?</strong>
</strong>

<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../../slider.css">

</head>
<body>


    <div style="float: left">Not at all justified</div>
    <div style="float: right">Completely justified</div>
  <input type="range" min="1" max="100" value="50" class="slider" name="judgement1">
</div>

<div>&nbsp;</div>
</body>
</html>
<div>&nbsp;</div>
{% next_button %}

<div>&nbsp;</div>

{% endblock %}
